.channel-main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  width: 100vw;
  // height: 100vw;
  height: 100%
  // border: 1x yellow dotted;
}

.header-image {
  position: relative;
  // top: 60px;
  width: 100vw;
  height: 150px;
  // border: 1px blue dotted;
}

.header-banner {
  display: flex;
  // position: relative;
  flex-direction: column;
  align-items: center;
  // top: 0px;
  width: 100vw;
  height: 120px;
  // padding: 20px 60px;
  background-color: #1c1c1c;

  // border: 1px green dotted
}

.sticky {
  display: flex;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: 120px;
  z-index: 1000;
  // background-color: aqua
  // border: red 1px dotted;
}

.sticky + .channel-main-body {
  padding-top: 122px;
}

.banner-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 120px;
  // padding: 20px 20px;
  // margin: 20px;
  // border: 1px white dotted;
}

.banner-icon-container {
  
}

.banner-icon {
  font-size: 60px;
}

.channel-main-body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
  top: 75px;
}

.channel-main-body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  // justify-content: flex-start;
  align-items: flex-start;
  background-color: #272727;  
  width: 750px;
  // height: 380px;
  // height: 100%;
  height: 80%;
  padding: 40px 50px;
}

.channel-main-video-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.banner-user-info {
  display: flex;
  flex-direction: row;
}

.banner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.banner-artist {
  font-size: 20px;
}

.banner-sub-count {
  font-size: 16px;
  color: rgb(139, 139, 139); 
}

.channel-main-text {
  padding-bottom: 30px;
}
