.video-show-index {
  display: flex;
  top: 85px;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;

  // margin-left: 25px;
  width: 60vw;
  // height: 720px;
  max-height: 1200px;
  max-width: 1280px;

  // border: 1px green dotted;

}

.video-clip-container {
  width: 100%;
  // height: 720px;
  height: 560px;
  // border: 1px red dotted;
}

.video-description-container {
  margin-top: 25px;
  height: 200px;

  // border: 1px yellow dotted;
}

.show-vid {
  max-height: 720px;
}

.next-video-index-container {
  width: 400px;
  height: 100%;
  margin-left: 25px;

  // border: 1px pink dotted;

}

.show-video-item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.show-thumbnails {
  width: 168px;
}

.show-index-video-description {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  transform: translateY(-8px);
  height: 100px;
  
}

.show-video-clip-title {
  font-size: 22px;
}

.sub-title-descriptions-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  // border: 1px pink dotted;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.show-views-published-container {
  display: flex;
  flex-direction: row;
  color: rgb(139, 139, 139);
  font-size: 14px;
  // border: 1px orange dotted;
}

.shows-view-counter {
  color: rgb(139, 139, 139);
  padding-right: 5px;
  font-size: 14px;
}

.shows-video-published {
  color: rgb(139, 139, 139);
  padding-left: 5px;
  font-size: 14px;
}

.likes-view-counter-container {

  // border: 1px white dotted;
}

.likes-view-counter {

  // border: 1px green dotted;
}

.sub-views-description-container {
  display: flex;
  flex-direction: row;
  height: 140px;
  // border: 1px red dotted;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.show-video-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  width: 70px;
  // border: 1px green dotted;  
}

.video-show-faIcons {
  padding-top: 10px;
  font-size: 50px;
}

.show-video-author-description-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  // border: 1px orange dotted;

}

.show-video-author-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  // border: 1px green dotted;
}

.show-video-author-container-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50%; 
  // border: 1px rgb(0, 255, 213) dotted;
}

.show-video-author {
  
  // border: 1px orange dotted;
}

.show-video-published {
  font-size: 12px;
  color: rgb(139, 139, 139);
  // border: 1px orange dotted;
}

.show-video-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px orange dotted;
}

.show-video-description {
  padding-top: 10px;
  width: 80%;
  // border: 1px rgb(212, 0, 255) dotted;
}

.likes-view-counter {
  display: flex;
  flex-direction: row;
  color: rgb(139, 139, 139);

}

.likes-view-faIcons {
  font-size: 18px;
  color: rgb(139, 139, 139);
  margin-right: 10px;
}

.likes-view-faIcons:hover {
  cursor: pointer;
}

.likes-view-faIcons#likes-thumbsdown {
  margin-left: 20px;
}

.video-likes-counter {
  color: rgb(139, 139, 139);
}

.highlighted {
  color: white;
}