.index-main-page {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  // right: -10px;
  left: 80px;
  // left: 65px;
  width: 90vw;
}

.video-index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 220px;
  // position: relative;
  // top: 20px;
  // left: 10%;
  // right: 1%;
  // width: 80%;
  width: 80vw;
  // border: 1px green dotted;
  // width: 80%;
  // max-width: 1240px;
  // margin-right: 10000px;
  // vw vh
}

.recommended-bar {
  padding-bottom: 10px;
  // border: 1px white dotted;
  width: 80vw;
  font-size: 18px;
}

.recommended-videos {
  display: flex;
  // border: 1px orange dotted;
  flex-direction: row;
  width: 80vw;
  flex-wrap: wrap;
  // max-width: 1240px;
  max-width: 1330px;
}

.video-item-container {
  display: flex;
  flex-direction: column;
  // border: 1px pink dotted;
  // flex-basis: 20%;
  // min-width: 10%;
  // width: 100%;
  width: 13vw;
  // flex-grow: 1;
  flex-shrink: 1;
  min-width: 180px;
  max-width: 220px;
  // min-width: 20%;
  // max-width: 210px;
  padding-right: 5px;
  // grid-template-columns: 20%;
}

img.thumbnails {
  max-width: 100%;
  min-width: 20%;
}

.index-view-container {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 15px;
}

.index-video-title {
  padding-top: 8px;
}

.index-video-title-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.index-video-author-text {
  color: rgb(139, 139, 139);
  font-size: 14px;
  padding-top: 2px;

}

.index-video-views {
  color: rgb(139, 139, 139);
  padding-right: 10px;

}

.index-video-upload-date {
  color: rgb(139, 139, 139);

}

.index-video-title:hover {
  cursor: pointer;
  color: rgb(199, 199, 199);
}

.index-video-author:hover {
  cursor: pointer;
  color: rgb(199, 199, 199);  
}

.index-video-views:hover {
  // cursor: pointer;
}

.index-video-upload-date:hover {
  // cursor: pointer;
}